{% extends 'base.html' %}
{% load static %}
{% block text %}
<div>
    <div class="slideshow-container">

        <!-- Full-width images with number and caption text -->
        <div class="mySlides first fade">
            <div class="numbertext">1 / 3</div>
            <img src="{% static 'images/operation.jpg' %}" style="width:100%">
        </div>

        <div class="mySlides fade">
            <div class="numbertext">2 / 3</div>
            <img src="{% static 'images/operation-room.jpg' %}" style="width:100%">
        </div>

        <div class="mySlides fade">
            <div class="numbertext">3 / 3</div>
            <img src="{% static 'images/o-room.jpg' %}" style="width:100%">
        </div>

        <!-- Next and previous buttons -->
        <a class="prev" onclick="plusSlides(-1)"><i class="fas fa-chevron-left fa-2x"></i></a>
        <a class="next" onclick="plusSlides(1)"><i class="fas fa-chevron-right fa-2x"></i></a>
    </div>
    <!-- The dots/circles -->
    <div style="text-align:center" id="dot-box">
        <span class="dot" onclick="currentSlide(1)"></span>
        <span class="dot" onclick="currentSlide(2)"></span>
        <span class="dot" onclick="currentSlide(3)"></span>
    </div>
</div>
<div class="our-features">
    <div class="container">
        <div class="f-box">
            <div class="f-heading">
                <h4><span class="line">----</span>&nbsp; Explore features</h4>
                <h1>Our main features</h1>
            </div>
            <div class="f-motto">The goods you want at a price you love</div>
            <div class="f-list">
                <div class="feature">
                    <p><i class="fas fa-first-aid fa-3x or"></i></p>
                    <h4 class="feature-heading">High Quality Products</h4>
                    <p>Our goal is to help you get best</p>
                </div>
                <div class="feature">
                    <p><i class="fas fa-truck fa-3x or"></i></p>
                    <h4 class="feature-heading">Fast Delivery</h4>
                    <p>Free delivery of products</p>
                </div>
                <div class="feature">
                    <p><i class="fas fa-people-carry fa-3x or"></i></p>
                    <h4 class="feature-heading">Experienced Engineers</h4>
                    <p>Team of highly qualified engineers</p>
                </div>
                <div class="feature">
                    <p><i class="fas fa-headphones-alt fa-3x or"></i></p>
                    <h4 class="feature-heading">Customer Support</h4>
                    <p>Support for any issues related to our products</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="products">
    <div class="container">
        <h1 id="home-our-products">Our Latest Products</h1>
        <hr id="our-products-underline">
        <div class="products-list">
            {% for product in products %}
            <div class="product-box">
                <a href="{% url 'product-detail' product.id %}">
                    <div class="product-img"><img src="{{product.image_link1}}" alt=""></div>
                    <div class="pd-info">
                        <h5>{{product.category.name}}</h5>
                        <p><b>{{product.name}}</b></p>
                        <p><b>Model:</b> {{product.model_name}}</p>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
        <a href="{% url 'products' %}" id="home-product-see-more">See more</a>
    </div>
</div>
<div class="main-statistics"
    style="background-image: url({% static 'images/icons.jpg' %}); background-repeat: no-repeat; background-size: cover; background-attachment:fixed;">
    <div class="container">
        <div class="statistics-email">
            <div class="statistics-box">
                <div class="statistics-heading">
                    <p><span class="line" style="color: white;">----</span>&nbsp; Statistics</p>
                    <h2>Our Main Statistics</h2>
                </div>
                <div class="statistics-motto">
                    Statistics: A Matter of Fact
                </div>
                <div class="statistics">
                    <div class="statistic-box">
                        <h1><i class="far fa-check-circle fa-2x"></i>&nbsp;<span id="pr">30</span></h1>
                        <h3>Projects Completed</h3>
                    </div>
                    <div class="statistic-box">
                        <h1><i class="far fa-user-circle fa-2x"></i>&nbsp;<span id="en">20</span></h1>
                        <h3>Team Engineers</h3>
                    </div>
                    <div class="statistic-box">
                        <h1><i class="fas fa-handshake fa-2x"></i>&nbsp;<span id="cl">1000</span>+</h1>
                        <h3>Clients</h3>
                    </div>
                    <div class="statistic-box">
                        <h1><i class="far fa-clock fa-2x"></i>&nbsp;<span id="ex">16</span></h1>
                        <h3>Years of Experience</h3>
                    </div>
                </div>
                <div class="email-box">
                    <div class="call-back">
                        <p><span class="line" style="color: white;">----</span>&nbsp; Support</p>
                        <h1>Request for a call back</h1>
                        <p>
                            Whether you make a one-time order or become one of our regular customers - cooperation with
                            us will never disappoint you! Call us at the specified contacts, we will be happy to help
                            you!
                        </p>
                        <hr>
                        <p>Do You Have Any Question?</p>
                        <div class="tel-email">
                            <div class="tel">
                                <p><a class="connect-link" href="tel:+998712615308"><i class="fas fa-phone-alt"></i> +998(71) 261-53-08</a></p>
                                <p><a class="connect-link" href="tel:+998991234567"><i class="fas fa-phone-alt"></i> +998(99) 123-45-67</a></p>
                            </div>
                            <div class="email">
                                <p><a href="mailto:nur.07@mail.ru" class="connect-link"><i class="fas fa-envelope"></i> &nbsp;nur.07@mail.ru</a></p>
                                <p><a href="mailto:nur.07@mail.ru" class="connect-link"><i class="fas fa-envelope"></i> &nbsp;luch@mail.ru</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="send-email-form">
                        <div class="sender-name"><input type="text" name="sender_name" id="s_name"
                                placeholder="Enter your name"></div>
                        <div class="sender-email"><input type="email" name="sender_email" id="s_email"
                                placeholder="Enter your email"></div>
                        <div class="sender-email"><input type="tel" name="sender_number" id="s_number"
                                placeholder="Enter your phone number"></div>
                        <div class="sender-email"><input type="text" name="sender_message_theme" id="s_theme"
                                placeholder="Enter your topic of message"></div>
                        <textarea name="sender_message" id="s_message" cols="30" rows="10"
                            placeholder="Enter your message here"></textarea>
                        <button>Send</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function animateValue(obj, start, end, duration) {
        let startTimestamp = null;
        const step = (timestamp) => {
          if (!startTimestamp) startTimestamp = timestamp;
          const progress = Math.min((timestamp - startTimestamp) / duration, 1);
          obj.innerHTML = Math.floor(progress * (end - start) + start);
          if (progress < 1) {
            window.requestAnimationFrame(step);
          }
        };
        window.requestAnimationFrame(step);
      }
      
      const projects = document.getElementById("pr");
      const engineers = document.getElementById("en");
      const clients = document.getElementById("cl");
      const experience = document.getElementById("ex");
      animateValue(projects, 1, 30, 5000);
      animateValue(engineers, 1, 20, 8000);
      animateValue(clients, 1, 1000, 8000);
      animateValue(experience, 1, 16, 10000);
</script>
<div class="container">
    <div class="special-products-box">
        <h2 class="home-special-products"><span class="line">--------</span> Special products <span
                class="line">--------</span></h2>
        <div class="special-product-list">
            {% for product in special_products %}
            <div class="sp-box">
                <a href="{% url 'product-detail' product.id %}">
                    <img src="{{product.image_link1}}" alt="">
                    <p class="sp-name">{{product.name}}</p>
                </a>
            </div>
            {% endfor %}
            
            
        </div>
    </div>
</div>
<div class="container">
    <div class="news-box">
        <div class="news-heading">
            <p><span class="line" style="color: orangered;">----</span>&nbsp; News</p>
            <h1>Our latest posts</h1>
        </div>
        <div class="news-motto">You can get familiar with latest news about our company and its actvity</div>
        <div class="news">
            {% for n in news %}
            <div class="news-cell">
                <img src="{{n.image_link}}" alt="">
                <div class="time-theme-extract">
                    <p class="news-time">20 nov 2020</p>
                    <p class="news-theme">{{n.title}}</p>
                    <a href="{% url 'news-info' n.id %}" class="read-more">Read more -></a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<script src="{% static 'js/main.js' %}"></script>
{% endblock%}