{% extends "base.html" %}
{% load static %}
{% block text %}
<ul class="breadcrumb"
    style="background-image: url({% static 'images/dna2.jpg' %}); background-repeat: no-repeat; background-size: cover; background-attachment: fixed; ">
    <li><a href="{% url 'home' %}">Home</a></li>
    <li> <a href="{% url 'products' %}">Products</a></li>
    <li><a href="{% url 'category' category.id %}">{{category.name}}</a></li>
    <li>{{product.model_name}}</li>
</ul>
<div class="container">
    <div class="all-products">
        <div class="category-line pdcl">
            <h2 class="category-heading">Category</h2>
            <ul class="category-list">
                {% for category in categories %}
                    <a href="{% url 'category' category.id %}">
                        <li class="product-category-item">
                            {{category.name}}
                        </li>
                    </a>
                {% endfor %}

            </ul>
            <h2 class="category-heading">Best Sellers</h2>
            <ul class="best-sellers-list">
                {% for best_product in best_seller %}
                <a href="{% url 'product-detail' best_product.id %}">
                    <li>
                        <div class="bsp-details">
                            <p>{{best_product.name}}</p>
                        </div>
                        <div class="bsp-images">
                            <img src="{{best_product.image_link1}}" alt="product-img">
                        </div>
                    </li>
                </a>
                {% endfor %}
            </ul>
        </div>
        <div class="product-detail-line">
            <div class="product-image">
                <!-- Full-width images with number text -->
                {% for image in images %}
                    {% if image %}
                        {% if forloop.counter == 1 %}
                            <div class="ms fpi">
                                <img src="{{image}}">
                            </div>
                        {% else %}
                            <div class="ms">
                                <img src="{{image}}">
                            </div>
                        {% endif %}
                    {% endif %}
                {% endfor %}
                <!-- Next and previous buttons -->


                <!-- Thumbnail images -->
                <div class="row">
                    {% for image in images  %}
                        
                        {% if image %}
                        <div class="column">
                            <img class="demo cursor" src="{{image}}" style="width:100%" onclick="cSlide({{forloop.counter}})" alt="The Woods">
                        </div>   
                        {% endif %}
                            
                    {% endfor %}
                </div>
            </div>
            <div class="product-information">
                <h2 style="color: orangered;">{{product.name}}</h2>
                <ul class="product-information-list">
                    <li><h4>Manfacturer: {{product.manfacturer}}</h4></li>
                    <li><h4>Country: {{product.country}}</h4></li>
                    <li><h4>Color:</h4> <div style="display: inline-block; border-radius:8px; width:fit-content; padding:.5em; background-color:{{product.color}};">{{product.color}}</div></li>
                    <li>
                        <h4>Description:</h4>
                        {{product.description|linebreaks}}
                    </li>
                </ul>
                <div class="pconnect">
                    <h3><a class="connect-link" href="tel:+998712615308"><i class="fas fa-phone-alt">&nbsp;&nbsp;</i> +998 (71) 261-53-08</a></h3>
                    <h3><a href="mailto:nur.07@mail.ru" class="connect-link"><i class="fas fa-envelope"></i> &nbsp;&nbsp; nur.07@mail.ru</a></h3>
                </div>
            </div>
            <h3 style="padding: 1em;">Similar Products</h3>
            <div class="similar-products">
                <div class="products-list">
                    {% for product in similar_products %}
                    <div class="product-box">
                        <a href="{% url 'product-detail' product.id %}">
                            <div class="product-img"><img src="{{product.image_link1}}" alt=""></div>
                            <div class="pd-info">
                                <h5>{{product.category.name}}</h5>
                                <p><b>{{product.name}}</b></p>
                                <p><b>Model:</b> {{product.model_name}}</p>
                            </div>
                        </a>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock text %}